<!DOCTYPE html>
<html>
  <head>
    <title>Github Contributions</title>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="main-container">
      <% if signed_in? %>
        <aside class="side-container current-user-section">
          <img src="<%= current_user.avatar_url =%>"
               class="github-user-image"
               alt="Github Profile Picture">
               <%= link_to "@#{current_user.login}", "https://github.com/#{current_user.login}", class: "github-user-link" =%>
               <%= link_to "Logout", sessions_destroy_path, class: "github-user-link" =%>
               <%= breadcrumbs %>
        </aside>
      <% end %>
      <section class="main-container-wrapper">
        <%= yield %>
      </section>
    </section>
  </body>
</html>
